<footer>
  <div class="container-footer-all">
       <div class="container-body">
           <div class="colum1">
               <h1>Mas informacion</h1>
               <p>Sitio Web desarrollado por Jose Antonio Blazquez, con fines de formacion y de ofrecer un proyecto para informar a la gente acerca del virus COVID-19. Desarrollado 15/05/2020</p>

           </div>
           <div class="colum2">
               <h1>Redes Sociales</h1>
               <div class="row">
                   <img src="../../../assets/images/linkedin.png">
                   <a target="_blank" [href]="infoPaginaService.info.linkedin">Sigueme en Linkedin</a>
               </div>
               <div class="row">
                   <img src="../../../assets/images/twitter.png">
                   <a target="_blank" [href]="infoPaginaService.info.twitter">Sigueme en Twitter</a>
               </div>
               <div class="row">
                   <img src="../../../assets/images/instagram.png">
                   <a target="_blank" [href]="infoPaginaService.info.instagram">Sigueme en Instagram</a>
               </div>
           </div>

           <div class="colum3">
               <h1>Informacion Contactos</h1>
               <div class="row2">
                   <img src="../../../assets/images/house.png">
                   <p>España,
                   Comunidad de Madrid,
                   Madrid
                   </p>
               </div>

               <div class="row2">
                   <img src="../../../assets/images/smartphone.png">
                   <p>+34-689-251-***</p>
               </div>

               <div class="row2">
                  <img src="../../../assets/images/contact.png">
                  <p><a href="mailto:{{ infoPaginaService.info.email }}">{{ infoPaginaService.info.email }}</a></p>
               </div>
           </div>
       </div>

   </div>

   <div class="container-footer">
          <div class="footer">
               <div class="copyright">
                   {{fecha.getFullYear()}} | <a href="">{{ infoPaginaService.info.autor }}</a>
               </div>
           </div>
       </div>
</footer>
